go 1.24.5

use (
	./api-gateway
	./common
	./services/auth_service
	./services/driver_service
	./services/location_service
	./services/ride_service
	./services/payment_service
	./services/notification_service
	./services/users_service
)
